.game-over-view {
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.205);
  display: grid;
  place-items: center;
  width: 100vw;
  bottom: 0;
  right: 0;
  overflow: hidden;
}

.game-over-wrapper {
  padding: 2em;
  color: white;
  background: rgb(51, 49, 49);
  border-radius: 10px;
}

.message {
  margin-bottom: 1em;
  font-size: 2rem;
}

.play-again {
  margin: 0 auto;
  padding: 0.5em 1em;
  display: block;
  border: none;
  border-radius: 5px;
}

.play-again:hover {
  background: rgb(206, 200, 200);
  cursor: pointer;
}
